@model SimpleViewComponent.ViewComponents.ViewModel

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        @foreach (var navigationItem in Model.NavigationItems)
        {
            <li>
                <a asp-controller="Home" asp-action="@navigationItem.Action">@navigationItem.Name</a>
            </li>
        }
    </ul>
</div>