@using Twilio;
@model IEnumerable<Call>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
  <div class="col-sm-6">
    <form asp-controller="Home" asp-action="Index" method="post" class="form">
      <fieldset>
        <div class="form-group">
            <label for="phoneNumber" class="control-label">Phone number:</label>
            <input id="phoneNumber" name="phoneNumber" type="text" class="form-control" placeholder="Enter a 'To' phone number">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
      </fieldset>
    </form>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12">
    <table class="table table-striped table-condensed table-bordered table-responsive">
      <thead>
        <tr>
          <th>To:</th>
          <th>From:</th>
          <th>Date created:</th>
          <th>Duration:</th>
        </tr>
      </thead>
      <tbody>
        @foreach(var call in Model)
        {
          <tr>
            <td>@call.To</td>
            <td>@call.From</td>
            <td>@call.DateCreated</td>
            <td>@($"{@call.Duration}s")</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
