@model CustomerViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
  <div class="col-xs-12">
    <div class="page-header">
      <h1>Option Groups with the Select TagHelper <br><small>Using the select TagHelper</small></h1>
    </div>
    <form>
      <div class="form-group">

        <label asp-for="Vehicle"></label>
        <select asp-for="Vehicle" asp-items="Model.Vehicles" class="form-control select input-lg"></select>
        
      </div>
    </form>
  </div>
</div>
