@using EnumsSelectTagHelper.Enums
@using EnumsSelectTagHelper.ViewModels
@model PersonalDetailsViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
  <div class="col-xs-12">
    <div class="page-header">
      <h1>Enum based Select TagHelper</h1>
    </div>
    <div class="form-group">
      <label asp-for="RelationshipStatus" class="control-label">Select your relationship:
        <select asp-for="RelationshipStatus" asp-items="Html.GetEnumSelectList<RelationshipStatus>()" class="form-control">
          <option>-- Not specified --</option>
        </select>
      </label>
      <p class="help-block">Please select your current relationship status.</p>
    </div>
    <div>
      <pre>
&lt;label asp-for=&quot;RelationshipStatus&quot; class=&quot;control-label&quot;&gt;Select your relationship:
  &lt;select asp-for=&quot;RelationshipStatus&quot; asp-items=&quot;Html.GetEnumSelectList&lt;RelationshipStatus&gt;()&quot; class=&quot;form-control&quot;&gt;
    &lt;option&gt;-- Not specified --&lt;/option&gt;
  &lt;/select&gt;
&lt;/label&gt;</pre>
    </div>
    <div>
      <pre>
&lt;div class=&quot;form-group&quot;&gt;
  &lt;label class=&quot;control-label&quot; for=&quot;RelationshipStatus&quot;&gt;Select your relationship:
    &lt;select class=&quot;form-control&quot; id=&quot;RelationshipStatus&quot; name=&quot;RelationshipStatus&quot;&gt;
      &lt;option&gt;-- Not specified --&lt;/option&gt;
      &lt;option value=&quot;0&quot;&gt;Single&lt;/option&gt;
      &lt;option value=&quot;1&quot;&gt;It is complicated&lt;/option&gt;
      &lt;option value=&quot;2&quot;&gt;In an open relationship&lt;/option&gt;
      &lt;option value=&quot;3&quot;&gt;In a relationship&lt;/option&gt;
      &lt;option value=&quot;4&quot;&gt;Engaged&lt;/option&gt;
      &lt;option value=&quot;5&quot;&gt;Married&lt;/option&gt;
      &lt;option value=&quot;6&quot;&gt;In a Civil Union&lt;/option&gt;
      &lt;option value=&quot;7&quot;&gt;Separated&lt;/option&gt;
      &lt;option value=&quot;8&quot;&gt;Divorced&lt;/option&gt;
      &lt;option value=&quot;9&quot;&gt;Widowed&lt;/option&gt;
    &lt;/select&gt;
  &lt;/label&gt;
  &lt;p class=&quot;help-block&quot;&gt;Please select your current relationship status.&lt;/p&gt;
&lt;/div&gt;</pre>
    </div>
  </div>
</div>
