@{
    ViewData["Title"] = "Polymer Starter Kit";
}

<template is="dom-bind" id="app">

  <paper-drawer-panel id="paperDrawerPanel">
    <!-- Drawer Scroll Header Panel -->
    <paper-scroll-header-panel drawer fixed>

      <!-- Drawer Toolbar -->
      <paper-toolbar id="drawerToolbar">
        <span class="paper-font-title">Menu</span>
      </paper-toolbar>

      <!-- Drawer Content -->
      <paper-menu class="list" attr-for-selected="data-route" selected="{{route}}" on-iron-select="onMenuSelect">
        <a data-route="home" href="/">
          <iron-icon icon="home"></iron-icon>
          <span>Home</span>
        </a>

        <a data-route="users" href="/users">
          <iron-icon icon="info"></iron-icon>
          <span>Users</span>
        </a>

        <a data-route="contact" href="/contact">
          <iron-icon icon="mail"></iron-icon>
          <span>Contact</span>
        </a>
      </paper-menu>
    </paper-scroll-header-panel>

    <!-- Main Area -->
    <paper-scroll-header-panel main condenses keep-condensed-header>

      <!-- Main Toolbar -->
      <paper-toolbar id="mainToolbar" class="tall">
        <paper-icon-button id="paperToggle" icon="menu" paper-drawer-toggle></paper-icon-button>
        <span class="flex"></span>

        <!-- Toolbar icons -->
        <paper-icon-button icon="refresh"></paper-icon-button>
        <paper-icon-button icon="search"></paper-icon-button>

        <!-- Application name -->
        <div class="middle middle-container center horizontal layout">
          <div class="app-name">Polymer Starter Kit</div>
        </div>

        <!-- Application sub title -->
        <div class="bottom bottom-container center horizontal layout">
          <div class="bottom-title paper-font-subhead">The future of the web today</div>
        </div>

      </paper-toolbar>

      <!-- Main Content -->
      <div class="content">
        <iron-pages attr-for-selected="data-route" selected="{{route}}">

          <section data-route="home">
            <paper-material elevation="1">
              <my-greeting></my-greeting>

              <p class="paper-font-subhead">You now have:</p>
              <my-list></my-list>

              <p class="paper-font-body2">Looking for more Web App layouts? Check out our <a href="https://github.com/PolymerElements/app-layout-templates">layouts</a> collection. You can also <a href="http://polymerelements.github.io/app-layout-templates/">preview</a> them live.</p>
            </paper-material>
            <paper-material elevation="1">
              <p class="paper-font-body2">This is another card.</p>
            </paper-material>
          </section>

          <section data-route="users">
            <paper-material elevation="1">
              <h2 class="paper-font-display2">Users</h2>
              <p>This is the users section</p>
              <a href="/users/Rob">Rob</a>
            </paper-material>
          </section>

          <section data-route="user-info">
            <paper-material elevation="1">
              <h2 class="paper-font-display2">
              User:<span>{{params.name}}</span>
              </h2>
              <div>This is <span>{{params.name}}</span>'s section</div>
            </paper-material>
          </section>

          <section data-route="contact">
            <paper-material elevation="1">
              <h2 class="paper-font-display2">Contact</h2>
              <p>This is the contact section</p>
            </paper-material>
          </section>

        </iron-pages>
      </div>
    </paper-scroll-header-panel>
  </paper-drawer-panel>

  <!-- Uncomment next block to enable Service Worker support (1/2) -->
  <!--
  <paper-toast id="caching-complete"
               duration="6000"
               text="Caching complete! This app will work offline.">
  </paper-toast>

  <platinum-sw-register auto-register
                        clients-claim
                        skip-waiting
                        on-service-worker-installed="displayInstalledToast">
    <platinum-sw-cache default-cache-strategy="networkFirst"
                       precache-file="precache.json">
    </platinum-sw-cache>
  </platinum-sw-register>
  -->

</template>
