@{
    ViewData["Title"] = "Home Page";
}
.<div class="row">
  <div class="col-xs-12">
    <div bs-progress-min="1"
         bs-progress-max="5"
         bs-progress-value="4">
    </div>
  </div>
</div>
