@{ 
	ViewData["Title"] = "Home Page"; 
}

<table class="table table-bordered table-striped">
	<tr>
		<td>
			<a asp-controller="Categories" asp-action="Index">Categories</a>
		</td>
		<td>
			<a asp-controller="Products" asp-action="Index">Product</a>
		</td>
	</tr>
</table>